@import "../base/Base.scss";

#theme-footer {
  @include set-flex(column, $auaxis: center);
  @include set-box(
    $paddings: (
      2rem,
      2rem
    )
  );
  @include set-text($line-height: 2rem, $color: #eee);
  background: $theme-main-color;
  .footer-link {
    color: #eee;
  }
}
