@import "../base/Base";

#theme-header {
  @include set-flex($diraxis: space-between);
  @include set-box(($match-root, $theme-header-height), $paddings: (0.5rem, 2rem));
  @include set-pose(fixed, $z: 1);
  @include set-text();
  background-color: transparent;
  background: rgba(255, 255, 255, 0.8);
  transition: all 0.2s ease-in-out;
  #title {
    @include set-flex($auaxis: center);
    .text {
      @include set-text(1.11rem, 700, $line-height: 1.11rem, $color: #3b3a3a);
      text-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.15);
    }
  }
  #navbar {
    @include set-flex($auaxis: center);
    .nav-item {
      padding-bottom: 0.3rem;
      margin-left: 0.6rem;
      @include set-pose(relative);
      @include set-text(0.95rem);
      text-shadow: 0.05rem 0.05rem 0.1rem rgba(0, 0, 0, 0.3);
      .inner-link {
        @include set-text();
        &:after {
          height: 0.2rem;
          width: 0;
          @include set-pose(absolute, ((direction: bottom, position: 0), (direction: left, position: 0)));
          content: "";
          background-color: $theme-main-color;
          transition: all 0.3s ease-in-out;
        }
        &:hover:after {
          width: $match-root;
        }
      }
      .outer-link {
        @include set-text();
      }
      .inner-link-active:after {
        width: $match-root;
      }
    }
  }
}
.theme-header-hide {
  top: -3.25rem !important;
}
