@import "../base/Base.scss";
#theme-header {
  position: fixed;
  top: -0px;
  width: 100%;
  height: 3rem;
  padding: 0.5rem 2rem;
  background-color: transparent;
  background: rgba(255, 255, 255, 0.8);
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
  z-index: 1;
  #theme-header-title {
    display: flex;
    align-items: center;
    .text {
      text-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.15);

      font-weight: 700;
      cursor: pointer;
      color: #3b3a3a;
      text-decoration: none;
    }
  }
  #theme-header-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;

    list-style-type: none;
    li {
      display: flex;
      flex-direction: row;
      a {
        color: #3b3a3a;
        text-decoration: none;
      }
    }
    .nav-item {
      position: relative;
      margin-left: 0.6rem;
      padding-bottom: 0.3rem;
      text-shadow: 0.05rem 0.05rem 0.1rem rgba(0, 0, 0, 0.3);
      font-size: 0.8rem;
      cursor: pointer;
      .inner-link:after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 0.2rem;
        background-color: #80c8f8;
        content: "";
        transition: all 0.3s ease-in-out;
      }
      .inner-link:hover:after {
        width: 100%;
      }
      .cur:after {
        width: 100%;
      }
    }
  }
}
.theme-header-hide {
  top: -3.25rem !important;
}
