@font-face {
  font-family: "iconfont"; /* project id 1514578 */
  src: url("//at.alicdn.com/t/font_1514578_67ni9u8sqi8.eot");
  src: url("//at.alicdn.com/t/font_1514578_67ni9u8sqi8.eot?#iefix") format("embedded-opentype"),
    url("//at.alicdn.com/t/font_1514578_67ni9u8sqi8.woff2") format("woff2"),
    url("//at.alicdn.com/t/font_1514578_67ni9u8sqi8.woff") format("woff"),
    url("//at.alicdn.com/t/font_1514578_67ni9u8sqi8.ttf") format("truetype"),
    url("//at.alicdn.com/t/font_1514578_67ni9u8sqi8.svg#iconfont") format("svg");
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
